<!DOCTYPE html>
<html>

<head>
    <title>Capitulo 3</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/mathlive"></script>
</head>

<body class="bg-gray-800 text-white">

    <!-- Barra de navegación -->
    <nav class="bg-indigo-700 flex shadow-lg items-center p-4">
        <h1 class="text-2xl font-bold ml-[200px]">Métodos Numéricos</h1>
        <div class="">
            <a href="../capitulo_1" class="hover:bg-indigo-600 ml-5 p-3 rounded-lg text-sm font-medium">Capítulo 1: Raíces</a>
            <a href="../capitulo_2" class="hover:bg-indigo-600 p-3 rounded-lg text-sm font-medium">Capítulo 2: Sistemas Lineales</a>
            <a href="#" class="bg-indigo-800 p-3 rounded-lg text-sm font-medium">Capítulo 3: Interpolación</a>
        </div>
    </nav>

    <div class="mx-[250px]">

        <!-- Descripción -->
        <div class="my-8">
            <h2 class="text-3xl font-bold mb-2">Capítulo 3: Métodos de Interpolación</h2>
            <p>Encuentra raíces de ecuaciones no lineales usando diferentes métodos numéricos.</p>
        </div>

        <!-- Panel de selección de método -->
        <div class="bg-white rounded-lg p-6 mb-6 text-gray-800">
            <h3 class="text-xl font-semibold mb-4">Selección de Método</h3>

            <div class="grid grid-cols-3" id="contenedor-metodos">
                {% for metodo in metodos %}
                <div class="flex items-center mb-3">
                    <input id="{{ metodo.id }}" type="radio" name="method" class="h-4 w-4" {% if forloop.first%}checked{% endif %}>
                    <label for="{{ metodo.id }}" class="ml-2 font-medium">{{ metodo.nombre }}</label>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Consideraciones -->
        <div id="consideraciones" class="bg-white rounded-lg p-6 mb-6 text-gray-800">
            <h3 class="font-bold">Consideraciones:</h3>
            <p id="texto_consideraciones" class="font-semibold"></p>
        </div>

        <!-- Datos de entrada -->
        <div class="bg-white rounded-lg p-6 mb-6 text-gray-800">

            <h3 class="text-xl font-semibold mb-4">Datos de Entrada</h3>
            <h3 class="text-lg font-semibold mb-4">Formato: [x1,y1], [x2,y2], [x3,y3] -> x1, x2, x3. y1, y2, y3 </h3>

            <div>
                <label for="punto_x" class="font-medium">Punto X</label>
                <input type="text" id="punto_x"
                    class="w-full rounded-lg border border-blue-700 p-2.5" value="1.5, 8.5, 22, 35">
                <h3>Valor de la "x" del punto, seguido de las demas "x" de los demas puntos</h3>
            </div>
            <div>
                <label for="punto_y" class="font-medium">Punto Y</label>
                <input type="text" id="punto_y"
                    class="w-full rounded-lg border border-blue-700 p-2.5" value="0, 9, 28, 26">
                <h3>Valor de la "y" del punto, seguido de las demas "y" de los demas puntos</h3>
            </div>
            
            <!-- Botones -->
            <div class="flex gap-4 mt-6 text-white font-medium">
                <button id="boton_calcular"
                    class="bg-indigo-600 hover:bg-indigo-700 py-2 px-6 rounded-lg transition-colors duration-200">
                    Calcular
                </button>
                <button id="boton_informe"
                    class="bg-emerald-600 hover:bg-emerald-700 py-2 px-6 rounded-lg transition-colors duration-200">
                    Informe
                </button>
                <button id="boton_limpiar"
                    class="bg-gray-600 hover:bg-gray-700 py-2 px-6 rounded-lg transition-colors duration-200">
                    Limpiar
                </button>
            </div>

            <div id="tablaResultados"></div>

            <img class="hidden" id="grafica" alt="Gráfico generado" />

            <div id="tabla_informe"></div>

        </div>
        

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Metodos
            const vandermonde = document.getElementById('vandermonde');
            const newton_interpolante = document.getElementById('newton_interpolante');
            const lagrange = document.getElementById('lagrange');
            const spline_lineal = document.getElementById('spline_lineal');
            const spline_cubico = document.getElementById('spline_cubico');

            const tablaDiv = document.getElementById('tablaResultados');
            const tabla_informe = document.getElementById('tabla_informe');
            const grafica = document.getElementById('grafica');


            // Consideraciones
            const consideracionesPorMetodo = {
                vandermonde: 'El método de Vandermonde construye un sistema lineal con una matriz que puede ser mal condicionada para muchos puntos. No es eficiente para grandes cantidades de datos, pero es directo y fácil de implementar.',
                newton_interpolante: 'El método de interpolación de Newton usa diferencias divididas y permite añadir nuevos puntos sin recalcular todo el polinomio. Es más estable que Vandermonde en general.',
                lagrange: 'El método de Lagrange no requiere resolver sistemas de ecuaciones, pero puede ser costoso computacionalmente. No es práctico para añadir nuevos puntos sin recalcular desde cero.',
                spline_lineal: 'El spline lineal interpola con segmentos rectos entre cada par de puntos. Es simple, rápido y evita oscilaciones, pero no es suave en las derivadas.',
                spline_cubico: 'El spline cúbico genera una función suave con continuidad en la primera y segunda derivada. Es ideal para mantener suavidad, pero requiere resolver un sistema tridiagonal.'
            };

            // Funciones:
            const get_data = async (url, body) => {
                const res = await fetch(url, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    body: new URLSearchParams(body)
                });
                return res.json();
            };

            const get_grafica = async (body) => {
                const res = await fetch('/api/grafica_capitulo_3/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: new URLSearchParams(body)
                });
                return res.blob();
            };

            //  Respuestas de Botones
            document.getElementById('boton_limpiar').addEventListener('click', () => {
                tablaDiv.classList.add('hidden');
                grafica.classList.add('hidden');
                tabla_informe.classList.add('hidden');
            });

            document.getElementById('boton_calcular').addEventListener('click', async () => {
                tablaDiv.classList.remove('hidden')
                grafica.classList.remove('hidden')

                const metodo = document.querySelector('input[name="method"]:checked').id;

                const punto_x = document.getElementById('punto_x').value;
                const punto_y = document.getElementById('punto_y').value;

                if (metodo === 'vandermonde'){
                    tablaDiv.innerHTML = `<h3 class="font-bold text-lg mt-6">Metodo De Vandermonde</h3>`;
                    const data = await get_data('/api/metodos_capitulo_3/', { metodo, punto_x, punto_y });   
                    tablaDiv.innerHTML += `<math-field readonly>p(x) = ${data.polinomio} </math-field>`;

                    // ----------------- Graficamos -------------------------
                    const polinomio = data.polinomio;
                    const blob = await get_grafica({ metodo, polinomio, punto_x, punto_y })
                    const url = URL.createObjectURL(blob);
                    grafica.src = url
                }
                else if (metodo === 'newton_interpolante'){
                    tablaDiv.innerHTML = `<h3 class="font-bold text-lg mt-6">Metodo De Newton Interpolante</h3>`;
                    const data = await get_data('/api/metodos_capitulo_3/', { metodo, punto_x, punto_y });   
                    tablaDiv.innerHTML += `<math-field readonly>p(x) = ${data.polinomio} </math-field>`;
                    tablaDiv.innerHTML += `<math-field readonly>p(x) = ${data.expandido} </math-field>`;

                    // ----------------- Graficamos -------------------------
                    const polinomio = data.expandido;
                    const blob = await get_grafica({ metodo, polinomio, punto_x, punto_y })
                    const url = URL.createObjectURL(blob);
                    grafica.src = url
                }
                else if (metodo === 'lagrange'){
                    tablaDiv.innerHTML = `<h3 class="font-bold text-lg mt-6">Metodo De Lagrange</h3>`;
                    const data = await get_data('/api/metodos_capitulo_3/', { metodo, punto_x, punto_y });   
                    tablaDiv.innerHTML += `<math-field readonly>p(x) = ${data.polinomio} </math-field>`;
                    tablaDiv.innerHTML += `<math-field readonly>p(x) = ${data.expandido} </math-field>`;

                    // ----------------- Graficamos -------------------------
                    const polinomio = data.expandido;
                    const blob = await get_grafica({ metodo, polinomio, punto_x, punto_y })
                    const url = URL.createObjectURL(blob);
                    grafica.src = url
                }
                else if (metodo === 'spline_lineal'){
                    tablaDiv.innerHTML = `<h3 class="font-bold text-lg mt-6">Metodo De Spline Lineal</h3>`;
                    const data = await get_data('/api/metodos_capitulo_3/', { metodo, punto_x, punto_y });   
                    const polinomios = data.polinomios
                    tablaDiv.innerHTML += `${polinomios.map(poli => `<h3 class="font-semibold text-sm mt-6">${poli}</h3>`).join('')}`;
                    
                    // ----------------- Graficamos -------------------------
                    const tramos = data.tramos;
                    const blob = await get_grafica({ metodo, tramos, punto_x })
                    const url = URL.createObjectURL(blob);
                    grafica.src = url
                }
                else if (metodo === 'spline_cubico'){
                    tablaDiv.innerHTML = `<h3 class="font-bold text-lg mt-6">Metodo De Spline Lineal</h3>`;
                    const data = await get_data('/api/metodos_capitulo_3/', { metodo, punto_x, punto_y });   
                    const polinomios = data.polinomios
                    tablaDiv.innerHTML += `${polinomios.map(poli => `<h3 class="font-semibold text-sm mt-6">${poli}</h3>`).join('')}`;

                    // ----------------- Graficamos -------------------------
                    const tramos = data.tramos;
                    const blob = await get_grafica({ metodo, tramos, punto_x, punto_y })
                    const url = URL.createObjectURL(blob);
                    grafica.src = url
                }
                
            });

            document.getElementById('boton_informe').addEventListener('click', async () => {
                const punto_x = document.getElementById('punto_x').value;
                const punto_y = document.getElementById('punto_y').value;
                
                const data = await get_data('/api/informe_capitulo_3/', { punto_x, punto_y })
                if (data.error) {
                    alert('Error: ' + data.error);
                    return;
                };

                tabla_informe.innerHTML = "" // Borramos lo anterior
                tabla_informe.innerHTML += `<h3 class="font-bold text-lg mt-6">Vandermonde</h3>`
                tabla_informe.innerHTML += `<math-field readonly>p(x) = ${data.polinomios[0]} </math-field>`;
                //tabla_informe.innerHTML =+ `<img src="" />`


                tabla_informe.innerHTML += `<h3 class="font-bold text-lg mt-6">Metodo De Newton Interpolante</h3>`;
                tabla_informe.innerHTML += `<math-field readonly>p(x) = ${data.polinomios[1]} </math-field>`;

                tabla_informe.innerHTML += `<h3 class="font-bold text-lg mt-6">Metodo De Lagrange</h3>`;
                tabla_informe.innerHTML += `<math-field readonly>p(x) = ${data.polinomios[2]} </math-field>`;

                tabla_informe.innerHTML += `<h3 class="font-bold text-lg mt-6">Metodo De Spline Lineal</h3>`;
                const polinomios1 = data.polinomios[3]
                tabla_informe.innerHTML += `${polinomios1.map(poli => `<h3 class="font-semibold text-sm mt-6">${poli}</h3>`).join('')}`;

                tabla_informe.innerHTML += `<h3 class="font-bold text-lg mt-6">Metodo De Spline Lineal</h3>`;
                const polinomios2 = data.polinomios[4]
                tabla_informe.innerHTML += `${polinomios2.map(poli => `<h3 class="font-semibold text-sm mt-6">${poli}</h3>`).join('')}`;
            });

            function actualizarMenus() {
                // Oculta todo
                menu_intervalos.classList.add('hidden');
                menu_punto_fijo.classList.add('hidden');
                menu_newton_raices.classList.add('hidden');
                menu_secante.classList.add('hidden');

                // Muestra según el método
                if (biseccion.checked || regla_falsa.checked) {
                    menu_intervalos.classList.remove('hidden');
                }

                if (punto_fijo.checked) {
                    menu_punto_fijo.classList.remove('hidden')
                }

                if (newton.checked || raices_multiples.checked) {
                    menu_newton_raices.classList.remove('hidden')
                }
                if (secante.checked) {
                    menu_secante.classList.remove('hidden')
                }
            }

            // Funcion que cambia las consideraciones
            const div_consideraciones = document.getElementById('consideraciones');
            const texto_consideraciones = document.getElementById('texto_consideraciones');

            function actualizarConsideraciones() {
                const metodoSeleccionado = document.querySelector('input[name="method"]:checked').id;
                const texto = consideracionesPorMetodo[metodoSeleccionado];

                texto_consideraciones.textContent = texto;
            }

            // Detectar cambios
            const metodos = [vandermonde, newton_interpolante, lagrange, spline_lineal, spline_cubico];

            metodos.forEach(metodo => {
                metodo.addEventListener('change', () => {
                    //actualizarMenus();
                    actualizarConsideraciones();
                })
            })

            // Activar al cargar
            //actualizarMenus();
            actualizarConsideraciones();

        });
    </script>

</body>

</html>