<!DOCTYPE html>
<html>

<head>
    <title>Capitulo 1</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/mathlive"></script>
</head>

<body class="bg-gray-800 text-white">

    <!-- Barra de navegación -->
    <nav class="bg-indigo-700 flex shadow-lg items-center p-4">
        <h1 class="text-2xl font-bold ml-[200px]">Métodos Numéricos</h1>
        <div class="">
            <a href="#" class="bg-indigo-800 ml-5 p-3 rounded-lg text-sm font-medium">Capítulo 1: Raíces</a>
            <a href="../capitulo_2" class="hover:bg-indigo-600 p-3 rounded-lg text-sm font-medium">Capítulo 2: Sistemas Lineales</a>
            <a href="../capitulo_3" class="hover:bg-indigo-600 p-3 rounded-lg text-sm font-medium">Capítulo 3: Interpolación</a>
        </div>
    </nav>

    <div class="mx-[250px]">

        <!-- Descripción -->
        <div class="my-8">
            <h2 class="text-3xl font-bold mb-2">Capítulo 1: Métodos de Búsqueda de Raíces</h2>
            <p>Encuentra raíces de ecuaciones no lineales usando diferentes métodos numéricos.</p>
        </div>

        <!-- Panel de selección de método -->
        <div class="bg-white rounded-lg p-6 mb-6 text-gray-800">
            <h3 class="text-xl font-semibold mb-4">Selección de Método</h3>

            <div class="grid grid-cols-3" id="contenedor-metodos">
                {% for metodo in metodos %}
                <div class="flex items-center mb-3">
                    <input id="{{ metodo.id }}" type="radio" name="method" class="h-4 w-4" {% if forloop.first%}checked{% endif %}>
                    <label for="{{ metodo.id }}" class="ml-2 font-medium">{{ metodo.nombre }}</label>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Consideraciones -->
        <div id="consideraciones" class="bg-white rounded-lg p-6 mb-6 text-gray-800">
            <h3 class="font-bold">Consideraciones:</h3>
            <p id="texto_consideraciones" class="font-semibold"></p>
        </div>

        <!-- Datos de entrada -->
        <div class="bg-white rounded-lg p-6 mb-6 text-gray-800">
            <h3 class="text-xl font-semibold mb-4">Datos de Entrada</h3>
            <div class="mb-4">
                <label for="funcion_math_field" class="font-medium mb-2">Función f(x)</label>
                <math-field id="funcion_math_field" class="border border-blue-700 rounded w-full"></math-field>
            </div>
            <div class="flex">
                <label>Ejemplo:</label>
                <math-field readonly>f(x) = x^3 - x - 2, raiz = 1.52</math-field>
                <p class="font-semibold">IMPORTANTE: Las variables debe estar en forma de "x", no se permite ni "y" ni
                    "z" ni otro caracter</p>
            </div>

            <!-- Tolerancia y iteraciones maximas -->
            <div class="grid grid-cols-2 gap-4 mb-4">
                <div>
                    <label for="tolerancia" class="font-medium">Tolerancia</label>
                    <input type="number" id="tolerancia" class="w-full rounded-lg border border-blue-700 p-2.5"
                        step="any" value="0.005" min="0">
                    <h3>Deben ser valores menores o iguales a 0, es decir: 0, 0.1, 0.002, 0.99</h3>
                </div>
                <div>
                    <label for="iteraciones_maximas" class="font-medium">Iteraciones máximas</label>
                    <input type="number" id="iteraciones_maximas" class="w-full rounded-lg border border-blue-700 p-2.5"
                        step="1" value="100" min="1">
                </div>
            </div>

            <!-- Intervalo (Biseccion, Regla Falsa) -->
            <div id="menu_intervalos" class="grid grid-cols-2 gap-4 mb-4 hidden">
                <div>
                    <label for="a" class="font-medium">Límite inferior (a)</label>
                    <input type="number" id="a" class="w-full rounded-lg border border-blue-700 p-2.5" step="any"
                        value="1">
                </div>
                <div>
                    <label for="b" class="font-medium">Límite superior (b)</label>
                    <input type="number" id="b" class="w-full rounded-lg border border-blue-700 p-2.5" step="any"
                        value="2">
                </div>
                <h3>Ejemplo: [0,1], [-2.5,3.7777] [-7,-5]</h3>
            </div>


            <!-- valor inicial y funcion g (Punto fijo) -->
            <div id="menu_punto_fijo" class="grid grid-cols-2 gap-4 mb-4 hidden">
                <div>
                    <label for="valor_inicial" class="font-medium">Valor inicial (x0)</label>
                    <input type="number" id="valor_inicial" class="w-full rounded-lg border border-blue-700 p-2.5"
                        step="any" value="1">
                    <h3>Valor cercano a la verdadera raíz, es decir: 0, 0.1, 14, 0.99, cualquier valor de x que lleve a
                        que f(x) = 0</h3>
                </div>
                <div>
                    <label for="funcion_g_math_field" class="font-medium">Transformacion x=g(x)</label>
                    <math-field id="funcion_g_math_field" class="border border-blue-700 rounded w-full"></math-field>
                    <math-field readonly>f(x)=cos(x) - x, -> g(x) = x = cos(x) </math-field>
                </div>
            </div>

            <!-- Un valor inicial (Newton) -->
            <div id="menu_newton_raices" class="hidden">
                <div>
                    <label for="valor_inicial" class="font-medium">Valor inicial (x0)</label>
                    <input type="number" id="valor_inicial" class="w-full rounded-lg border border-blue-700 p-2.5"
                        step="any" value="1">
                    <h3>Valor cercano a la verdadera raíz, es decir: 0, 0.1, 14, 0.99, cualquier valor de x que
                    lleve a que f(x) = 0</h3>
                </div>
            </div>

            <!-- Dos valores iniciales (Secante) -->
            <div id="menu_secante" class="grid grid-cols-2 gap-4 mb-4 hidden">
                <div>
                    <label for="primer_valor_inicial" class="font-medium">Primer valor inicial (x0)</label>
                    <input type="number" id="primer_valor_inicial"
                        class="w-full rounded-lg border border-blue-700 p-2.5" step="any" value="1">
                    <h3>Valor cercano a la verdadera raíz, es decir: 0, 0.1, 14, 0.99, cualquier valor de x que
                    lleve a que f(x) = 0</h3>
                </div>
                <div>
                    <label for="segundo_valor_inicial" class="font-medium">Segundo valor inicial (x1)</label>
                    <input type="number" id="segundo_valor_inicial"
                        class="w-full rounded-lg border border-blue-700 p-2.5" step="any" value="2">
                    <h3>Nota: x0 y x1 nunca deben ser iguales</h3>
                </div>
            </div>

            <!-- Botones -->
            <div class="flex gap-4 mt-6 text-white font-medium">
                <button id="boton_calcular"
                    class="bg-indigo-600 hover:bg-indigo-700 py-2 px-6 rounded-lg transition-colors duration-200">
                    Calcular
                </button>
                <button id="boton_informe"
                    class="bg-emerald-600 hover:bg-emerald-700 py-2 px-6 rounded-lg transition-colors duration-200">
                    Informe
                </button>
                <button id="boton_limpiar"
                    class="bg-gray-600 hover:bg-gray-700 py-2 px-6 rounded-lg transition-colors duration-200">
                    Limpiar
                </button>
            </div>

            <div id="tablaResultados"></div>

            <img class="hidden" id="grafica" alt="Gráfico generado" />

            <!-- Ingreso de datos para el informe -->
            <div id="menu_informe" class="my-6 hidden">
                <h2 class="text-lg font-semibold mt-4">Por favor digite los datos faltantes</h2>
                <div>
                    <label for="funcion_g_math_field_informe" class="font-medium">Transformacion x=g(x)</label>
                    <math-field id="funcion_g_math_field_informe"
                        class="border border-blue-700 rounded w-full"></math-field>
                    <math-field readonly>f(x)=cos(x) - x, -> g(x) = x = cos(x) </math-field>
                </div>
                <div class="grid grid-cols-2 gap-4 mb-4">
                    <div>
                        <label for="a_informe" class="font-medium">Límite inferior (a)</label>
                        <input type="number" id="a_informe" class="w-full rounded-lg border border-blue-700 p-2.5"
                            step="any" value="1">
                        <h3>Ejemplo: [0,1], [-2.5,3.7777] [-7,-5]</h3>
                    </div>
                    <div>
                        <label for="b_informe" class="font-medium">Límite superior (b)</label>
                        <input type="number" id="b_informe" class="w-full rounded-lg border border-blue-700 p-2.5"
                            step="any" value="2">
                    </div>
                    <div>
                        <label for="primer_valor_inicial_informe" class="font-medium">Primer valor inicial (x0)</label>
                        <input type="number" id="primer_valor_inicial_informe"
                            class="w-full rounded-lg border border-blue-700 p-2.5" step="any" value="1">
                        <h3>Valor cercano a la verdadera raíz, es decir: 0, 0.1, 14, 0.99, cualquier valor de x que
                            lleve a que f(x) = 0</h3>
                    </div>
                    <div>
                        <label for="segundo_valor_inicial_informe" class="font-medium">Segundo valor inicial
                            (x1)</label>
                        <input type="number" id="segundo_valor_inicial_informe"
                            class="w-full rounded-lg border border-blue-700 p-2.5" step="any" value="2">
                        <h3>Nota: x0 y x1 nunca deben ser iguales</h3>
                    </div>
                </div>
                <button id="boton_generar_informe"
                    class="bg-indigo-600 hover:bg-indigo-700 text-white py-2 px-6 rounded-lg transition-colors duration-200">
                    Generar Informe
                </button>
                <div id="tabla_informe"></div>
            </div>

        </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Metodos
            const biseccion = document.getElementById('biseccion')
            const regla_falsa = document.getElementById('regla_falsa');
            const punto_fijo = document.getElementById('punto_fijo');
            const newton = document.getElementById('newton')
            const secante = document.getElementById('secante');
            const raices_multiples = document.getElementById('raices_multiples');

            // Menus
            const menu_intervalos = document.getElementById('menu_intervalos');
            const menu_punto_fijo = document.getElementById('menu_punto_fijo');
            const menu_newton_raices = document.getElementById('menu_newton_raices');
            const menu_secante = document.getElementById('menu_secante');

            const menu_informe = document.getElementById('menu_informe');

            // Resultados
            const tablaDiv = document.getElementById('tablaResultados');
            const grafica = document.getElementById('grafica');

            // Consideraciones
            const consideracionesPorMetodo = {
                biseccion: 'El método de bisección solo converge si la raíz está dentro del intervalo [a, b] y f(a)*f(b) < 0.',
                regla_falsa: 'La regla falsa también requiere f(a)*f(b) < 0 y puede converger más rápido que bisección, pero no siempre divide el intervalo a la mitad.',
                punto_fijo: 'La función g(x) debe cumplir con condiciones de convergencia. No cualquier g(x) funciona.',
                newton: 'Newton-Raphson requiere que f(x) sea derivable. El valor inicial debe estar cerca de la raíz.',
                secante: 'La secante no requiere derivadas, pero necesita dos valores iniciales. Puede fallar si f(x) no es suave.',
                raices_multiples: 'El método para raíces múltiples requiere calcular la derivada y la derivada segunda. Úsalo solo si sabes que hay raíces repetidas.'
            };

            // Funciones:
            const get_data = async (url, body) => {
                const res = await fetch(url, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    body: new URLSearchParams(body)
                });
                return res.json();
            };

            const get_grafica = async (body) => {
                const res = await fetch('/grafica/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: new URLSearchParams(body)
                });
                return res.blob();
            };

            const get_Tabla = (data, columnas) => {
                let html = `<table class="w-full mt-6 border border-blue-700"> 
                    <thead class="text-left border border-blue-700">
                        <tr>${columnas.map(columna => `<th>${columna.label}</th>`).join('')}</tr>
                    </thead>
                    <tbody>`;

                data.tabla.forEach(fila_tabla => {
                    html += `<tr>${columnas.map(columna => {
                        const val = fila_tabla[columna.key];
                        return `<td>${typeof val === 'number' ? val.toFixed(6) : val}</td>`;
                    }).join('')}</tr>`;
                });

                html += '</tbody></table>';
                return html;
            };

            //  Respuestas de Botones
            document.getElementById('boton_limpiar').addEventListener('click', () => {
                tablaDiv.classList.add('hidden');
                grafica.classList.add('hidden');
                menu_informe.classList.add('hidden');
            });

            document.getElementById('boton_informe').addEventListener('click', () => {
                menu_informe.classList.remove('hidden');
            });

            document.getElementById('boton_generar_informe').addEventListener('click', async () => {
                const get_tabla_informe = (tabla, columnas) => {
                    let html = `<table class="w-full border border-blue-700"> 
                        <thead class="text-left border border-blue-700">
                            <tr>${columnas.map(columna => `<th>${columna.label}</th>`).join('')}</tr>
                        </thead>
                        <tbody>`;

                    tabla.forEach(fila_tabla => {
                        html += `<tr>${columnas.map(columna => {
                            const val = fila_tabla[columna.key];
                            return `<td>${typeof val === 'number' ? val.toFixed(6) : val}</td>`;
                        }).join('')}</tr>`;
                    });

                    html += '</tbody></table>';
                    return html;
                };

                const funcion = document.getElementById('funcion_math_field').value;
                const tolerancia = document.getElementById('tolerancia').value;
                const max_iter = document.getElementById('iteraciones_maximas').value;

                const a = document.getElementById('a_informe').value;
                const b = document.getElementById('b_informe').value;
                const x_0 = document.getElementById('primer_valor_inicial_informe').value;
                const x_1 = document.getElementById('segundo_valor_inicial_informe').value;
                const funcion_g = document.getElementById('funcion_g_math_field_informe').value;

                const tabla_informe = document.getElementById('tabla_informe');
                
                const data = await get_data('/api/informe_capitulo_1/', { funcion, a, b, x_0, x_1, funcion_g, tolerancia, max_iter })
                if (data.error) {
                    alert('Error: ' + data.error);
                    return;
                };
                tabla_informe.innerHTML = "" // Borramos lo anterior
                tabla_informe.innerHTML += `<h3 class="font-bold text-lg mt-6">Bisección</h3>`
                tabla_informe.innerHTML += get_tabla_informe(data.tabla[0], [
                    { key: "iter", label: "Iter" },
                    { key: "a", label: "a" },
                    { key: "b", label: "b" },
                    { key: "x_m", label: "x_m" },
                    { key: "error", label: "Error" }
                ]
                );
                tabla_informe.innerHTML += `<h3 class="font-bold text-lg mt-6">Regla Falsa</h3>`
                tabla_informe.innerHTML += get_tabla_informe(data.tabla[1], [
                    { key: "iter", label: "Iter" },
                    { key: "a", label: "a" },
                    { key: "b", label: "b" },
                    { key: "x_m", label: "x_m" },
                    { key: "error", label: "Error" }
                ]
                );
                tabla_informe.innerHTML += `<h3 class="font-bold text-lg mt-6">Punto Fijo</h3>`
                tabla_informe.innerHTML += get_tabla_informe(data.tabla[2], [
                    { key: "iter", label: "Iter" },
                    { key: "x_n", label: "x_n" },
                    { key: "f_x", label: "f(x)" },
                    { key: "error", label: "Error" }
                ]
                );
                tabla_informe.innerHTML += `<h3 class="font-bold text-lg mt-6">Newton</h3>`
                tabla_informe.innerHTML += get_tabla_informe(data.tabla[3], [
                    { key: "iter", label: "Iter" },
                    { key: "x_n", label: "x_n" },
                    { key: "f_x", label: "f(x)" },
                    { key: "error", label: "Error" }
                ]
                );
                tabla_informe.innerHTML += `<h3 class="font-bold text-lg mt-6">Secante</h3>`
                tabla_informe.innerHTML += get_tabla_informe(data.tabla[4], [
                    { key: "iter", label: "Iter" },
                    { key: "x_n", label: "x_n" },
                    { key: "f_x", label: "f(x)" },
                    { key: "error", label: "Error" }
                ]
                );
                tabla_informe.innerHTML += `<h3 class="font-bold text-lg mt-6">Raíces Multiples</h3>`
                tabla_informe.innerHTML += get_tabla_informe(data.tabla[5], [
                    { key: "iter", label: "Iter" },
                    { key: "x_n", label: "x_n" },
                    { key: "f_x", label: "f(x)" },
                    { key: "error", label: "Error" }
                ]
                );
                tabla_informe.innerHTML += `<h3 class="font-bold text-lg mt-6">
                    El mejor fue: ${data.mejor} con un error de: ${data.valor}
                    </h3>`

            })

            document.getElementById('boton_calcular').addEventListener('click', async () => {
                tablaDiv.classList.remove('hidden')
                grafica.classList.remove('hidden')

                const metodo = document.querySelector('input[name="method"]:checked').id;

                const funcion = document.getElementById('funcion_math_field').value;
                const tolerancia = document.getElementById('tolerancia').value;
                const max_iter = document.getElementById('iteraciones_maximas').value;

                // Metodo para Biseccion y regla falsa
                if (metodo === 'biseccion' || metodo === 'regla_falsa') {
                    const a = document.getElementById('a').value;
                    const b = document.getElementById('b').value;

                    const data = await get_data('/api/metodos_capitulo_1/', { metodo, funcion, a, b, tolerancia, max_iter })
                    if (data.error) {
                        alert('Error: ' + data.error);
                        return;
                    };

                    tablaDiv.innerHTML = get_Tabla(data, [
                        { key: "iter", label: "Iter" },
                        { key: "a", label: "a" },
                        { key: "b", label: "b" },
                        { key: "x_m", label: "x_m" },
                        { key: "error", label: "Error" }
                    ]
                    );

                    // ----------------- Graficamos -------------------------
                    const x_m = data.tabla[data.tabla.length - 1].x_m;
                    const blob = await get_grafica({ metodo, funcion, a, b, x_m })
                    const url = URL.createObjectURL(blob);
                    grafica.src = url

                }

                // Metodo de punto fijo
                else if (metodo === 'punto_fijo') {
                    const x_0 = document.getElementById('valor_inicial').value;
                    const funcion_g = document.getElementById('funcion_g_math_field').value;

                    const data = await get_data('/api/metodos_capitulo_1/', { metodo, funcion, funcion_g, x_0, tolerancia, max_iter })
                    if (data.error) {
                        alert('Error: ' + data.error);
                        return;
                    }

                    tablaDiv.innerHTML = get_Tabla(data, [
                        { key: "iter", label: "Iter" },
                        { key: "x_n", label: "x_n" },
                        { key: "f_x", label: "f(x)" },
                        { key: "error", label: "Error" }
                    ]
                    );

                    // ----------------- Graficamos -------------------------
                    const x_n = data.tabla[data.tabla.length - 1].x_n;
                    const blob = await get_grafica({ metodo, funcion, funcion_g, x_n })
                    const url = URL.createObjectURL(blob);
                    grafica.src = url;
                }
                // Metodo para Newton y Raices Multiples
                else if (metodo === 'newton' || metodo === 'raices_multiples') {
                    const x_0 = document.getElementById('valor_inicial').value;

                    const data = await get_data('/api/metodos_capitulo_1/', { metodo, funcion, x_0, tolerancia, max_iter })
                    if (data.error) {
                        alert('Error: ' + data.error);
                        return;
                    }

                    tablaDiv.innerHTML = get_Tabla(data, [
                        { key: "iter", label: "Iter" },
                        { key: "x_n", label: "x_n" },
                        { key: "f_x", label: "f(x)" },
                        { key: "error", label: "Error" }
                    ]
                    );

                    // ----------------- Graficamos -------------------------
                    const x_n = data.tabla[data.tabla.length - 1].x_n;
                    const blob = await get_grafica({ metodo, funcion, x_n })
                    const url = URL.createObjectURL(blob);
                    grafica.src = url;
                }
                // Metodo Secante
                else if (metodo === 'secante') {
                    const x_0 = document.getElementById('primer_valor_inicial').value;
                    const x_1 = document.getElementById('segundo_valor_inicial').value;

                    const data = await get_data('/api/metodos_capitulo_1/', { metodo, funcion, x_0, x_1, tolerancia, max_iter })
                    if (data.error) {
                        alert('Error: ' + data.error);
                        return;
                    }

                    tablaDiv.innerHTML = get_Tabla(data, [
                        { key: "iter", label: "Iter" },
                        { key: "x_n", label: "x_n" },
                        { key: "f_x", label: "f(x)" },
                        { key: "error", label: "Error" }
                    ]
                    );

                    // ----------------- Graficamos -------------------------
                    const x_n = data.tabla[data.tabla.length - 1].x_n;
                    const blob = await get_grafica({ metodo, funcion, x_n })
                    const url = URL.createObjectURL(blob);
                    grafica.src = url;
                }
            });

            function actualizarMenus() {
                // Oculta todo
                menu_intervalos.classList.add('hidden');
                menu_punto_fijo.classList.add('hidden');
                menu_newton_raices.classList.add('hidden');
                menu_secante.classList.add('hidden');

                // Muestra según el método
                if (biseccion.checked || regla_falsa.checked) {
                    menu_intervalos.classList.remove('hidden');
                }

                if (punto_fijo.checked) {
                    menu_punto_fijo.classList.remove('hidden')
                }

                if (newton.checked || raices_multiples.checked) {
                    menu_newton_raices.classList.remove('hidden')
                }
                if (secante.checked) {
                    menu_secante.classList.remove('hidden')
                }
            }

            // Funcion que cambia las consideraciones
            const div_consideraciones = document.getElementById('consideraciones');
            const texto_consideraciones = document.getElementById('texto_consideraciones');

            function actualizarConsideraciones() {
                const metodoSeleccionado = document.querySelector('input[name="method"]:checked').id;
                const texto = consideracionesPorMetodo[metodoSeleccionado];

                texto_consideraciones.textContent = texto;
            }

            // Detectar cambios
            const metodos = [biseccion, regla_falsa, punto_fijo, newton, secante, raices_multiples];

            metodos.forEach(metodo => {
                metodo.addEventListener('change', () => {
                    actualizarMenus();
                    actualizarConsideraciones();
                })
            })

            // Activar al cargar
            actualizarMenus();
            actualizarConsideraciones();

        });
    </script>

</body>

</html>