<!DOCTYPE html>
<html>
<head>
    <title>Métodos Númericos</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-400 flex-1">
    <h1 class="bg-gray-500 text-yellow-500 text-center p-8 text-xl font-bold">
        Bienvenido <br>
        Selecciona un capitulo para comenzar
    </h1>
    <div class="bg-slate-400 flex flex-col m-5">
        
        <div class="flex font-bold outline mb-5">
            <div class="flex outline">
                <a class="bg-slate-500 text-yellow-500 p-8 flex items-center" href="capitulo_1">Capitulo 1 <br><br> Soluciones Numéricas <br> De ecuaciones <br> No lineales</a>
            </div>
            <h2 class="mx-5 flex items-center">Métodos Disponibles:</h2>
            <ul class="list-disc pl-6 my-5 flex flex-col">
                <div class="flex flex-1 my-3 items-center">
                    <li>Método de Bisección</li>
                    <img class="ml-5 w-[100px] outline" src="./assets/biseccion.png">
                </div>
                <div class="flex flex-1 my-3 items-center">
                    <li>Método de Regla falsa</li>
                    <img class="ml-5 outline" src="./assets/regla_falsa.png">
                </div>
                <div class="flex flex-1 my-3 items-center">
                    <li>Método de Punto fijo</li>
                    <img class="ml-5 outline" src="./assets/punto_fijo.png">
                </div>
            </ul>
            <ul class="list-disc ml-10 pl-6 my-5 flex flex-col">
                <div class="flex flex-1 my-3 items-center">
                    <li>Método de Newton</li>
                    <img class="ml-5 w-[300px] outline" src="./assets/Newton.png">
                </div>
                <div class="flex flex-1 my-3 items-center">
                    <li>Método de Secante</li>
                    <img class="ml-5 w-[500px] outline" src="./assets/Secante.png">
                </div>
                <div class="flex flex-1 my-3 items-center">
                    <li>Método de Raíces múltiples</li>
                    <img class="ml-5 w-[500px] outline" src="./assets/Raices_Multiples.png">
                </div>
            </ul>
        </div>

        <div class="flex font-bold outline mb-5">
            <div class="flex outline">
                <a class="bg-slate-500 text-yellow-500 p-8 flex items-center" href="capitulo_2">Capitulo 2 <br><br> Soluciones Numéricas <br> De sistemas <br> de ecuaciones</a>
            </div>
            <h2 class="mx-5 flex items-center">Métodos Disponibles:</h2>
            <ul class="list-disc pl-6 my-5 flex flex-col">
                <div class="flex flex-1 my-3 items-center">
                    <li>Método de Jacobi</li>
                    <img class="ml-5 w-[300px] outline" src="./assets/Jacobi_And_Gauss_Main.png">
                    <img class="ml-5 w-[500px] outline" src="./assets/Jacobi.png">
                </div>
                <div class="flex flex-1 my-3 items-center">
                    <li>Método de Gauss-Seidel</li>
                    <img class="ml-5 w-[300px] outline" src="./assets/Jacobi_And_Gauss_Main.png">
                    <img class="ml-5 w-[500px] outline" src="./assets/Gauss.png">
                </div>
                <div class="flex flex-1 my-3 items-center">
                    <li>Método SOR</li>
                    <img class="ml-5 w-[600px] outline" src="./assets/SOR.png">
                </div>
            </ul>
        </div>

        <div class="flex font-bold outline">
            <div class="flex outline">
                <a class="bg-slate-500 text-yellow-500 p-8 flex items-center w-[230px]" href="capitulo_3">Capitulo 3 <br><br> Métodos de  <br> Interpolación</a>
            </div>
            <h2 class="mx-5 flex items-center">Métodos<br> Disponibles:</h2>
            <ul class="list-disc pl-6 my-5 flex flex-col">
                <div class="flex flex-1 my-3 items-center">
                    <li>Método de Vandermonde</li>
                    <img class="ml-5 w-[250px] outline" src="./assets/Vandermonde.png">
                </div>
                <div class="flex flex-1 my-3 items-center">
                    <li>Método de Newton <br> Interpolante</li>
                    <img class="ml-5 w-[450px] outline" src="./assets/Newton_Interpolante.png">
                </div>
                <div class="flex flex-1 my-3 items-center">
                    <li>Método de Lagrange</li>
                    <img class="ml-5 w-[450px] outline" src="./assets/Lagrange.png">
                </div>
            </ul>
            <ul class="list-disc ml-10 pl-6 my-5 flex flex-col">
                <div class="flex flex-1 my-3 items-center">
                    <li>Método de Spline Lineal</li>
                    <img class="ml-5 w-[500px] outline" src="./assets/Spline_Lineal.png">
                </div>
                <div class="flex flex-1 my-3 items-center">
                    <li>Método de Spline Cubico</li>
                    <img class="ml-5 w-[500px] outline" src="./assets/Spline_Cubico.png">
                </div>
            </ul>
        </div>

    </div>
</body>
</html>
